<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>
		      	<li>

		      		<% if(Circle.exists?(:name => "twitter")&&Circle.exists?(:name => "googlePlus")) %>

		      		<% else %>
			      		<div class="row" style="width:600px;margin-left: auto;margin-right: auto;">

			      			<% unless(Circle.exists?(:name => "twitter")) %>
					      		
								  <div class="col-lg-4">
								    <div class="round-button" style="width:160px;float:left">
								        <div id="round-button-circle">
								          <a href="/twitter_oauth_url" class="round-button">Twitter</a>
								        </div>
								    </div>
								  </div>
							<% end %>
							<% unless(Circle.exists?(:name => "googlePlus")) %>
								  <div class="col-lg-4">
								    <div class="round-button" style="width:160px;float:left;">
								        <div id="round-button-circle-2">
								          <a href="http://localhost:4567" class="round-button">Google+</a>
								        </div>
								    </div>
								  </div>
								</div>

							<% end %>
						</div>
					<% end %>

				</li>
