<<<<<<< HEAD
<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>
=======
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/button.css">
<link rel="stylesheet" href="assets/styles.css">

<style type="text/css">
 /*added Code */



/*end of Added code */
  .mini-submenu{
    display:none;  
    background-color: rgba(0, 0, 0, 0);  
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;  
    /*position: relative;*/
    width: 42px;
  }

  .mini-submenu:hover{
    cursor: pointer;
  }

  .mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
  }

  .mini-submenu .icon-bar {
    background-color: #000;
  }

  #slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: none;
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
  }
.panel.panel-default{
  	border-radius:60px;
}
#navlist{
	display: none;
}
#navlist:hover{
	display: block;
}


</style>
</head>
<body>

  <div class="col-md-8"> <!-- News feed container -->
    <div class= "panel panel-default" style="border-top-left-radius: 4px">
     <div class="panel-heading"> <!-- Container header -->
      <h3 class="panel-title"> About us </h3>

     </div> <!-- End of header -->
      <div class="panel-body"> 
      	<h6 style="font-style:normal;font-size:15px"></h6>
		<h6> What is raye7 doing </h6>
      </div><!-- End of panel-body @ebrahim-elgaml -->
    </div><!-- End of panel panel-default @ebrahim-elgaml -->
  </div> <!-- End of col-md-8 @ebrahim-elgaml -->

</body>
</html>
>>>>>>> ca22393f3f5807724db84dcf9e82336c2933fb1c
