<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<style type="text/css">
    input[type="text"]{
        height:26px;
    }
    input[type="submit"]{
        margin-bottom:11px;
    }
    hr{
        margin:0px;
    }
</style>
<body>
    <br>
    <div class="cont" style="width:900px;left:0;right:0;margin:auto;height:500px;margin-bottom:20px"><!-- div for friends container -->
        <div class="header"><h1 style="text-align:center;padding-left: 0px;;">Friends</h1></div>
            <div class="body"> <!-- body of the container -->
                <%= form_tag friends_path ,:controller => 'friends',:action => 'show',:method => 'get' do %>
                    <p>
                    <%= text_field_tag :search, params[:search],:placeholder => 'Search a friend' %>
                    <%= submit_tag "Search" , :name => nil %>
                    </p>
                    <hr>    
                <% end %>
                <div class="row"> <!-- shows the names in rows -->
                    <% if @friend.present? %>
                        <% @friend.each do|friend| %>
                            <div class="col-md-4">
                                <p style="margin:5px"><%= link_to friend.name %></p>
                                <br>
                            </div>
                        <%end%>
                    <%else%>
                        <p style="text-align:center;">No Results found</p>
                    <%end%>
                </div> <!-- end of row div -->
            </div> <!-- end of body of the container -->
    </div> <!-- end of the friends container-->
</body>
</html>
