<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<style type="text/css">
    input[type="text"]{
        height:26px;
    }
    input[type="submit"]{
        margin-bottom:11px;
    }
    hr{
        margin:0px;
    }
</style>
<body>
<br>
<div class="cont" style="width:900px;left:0;right:0;margin:auto;">
    <div class="header"><h1 style="text-align:center;padding-left: 0px;;">Friends</h1></div>
        <div class="body">
            <%= form_tag friends_path ,:controller => 'friends',:action => 'show',:method => 'get' do %>
                <p>
                <%= text_field_tag :search, params[:search],:placeholder => 'Search a friend' %>
                <%= submit_tag "Search" , :name => nil %>
                </p>
                <hr>    
            <% end %>
            <div class="row">
                <% if @friend.present? %>
                    <% @friend.each do|friend| %>
                        <div class="col-md-4">
                            <p style="margin:5px"><%= link_to friend.name %></p>
                            <br>
                        </div>
                    <%end%>
                <%else%>
                    <p>No Results found</p>
                <%end%>
            </div>
        </div>
</div>
</body>
</html>
