<h1>Account Info</h1>

<body>

		<p>Your name is <%= @sessUserName %> <br>
		<a href="/ConnectTo.html.erb" class="btn btn-primary btn-larg">Add more accounts zawed tawsilatak :D</a>
		</p>

		
		<% @circles.each do |c| %>
			<a href="circles/".<%c.id%>><%= c.name =%></a><br>
		<% end %>
		
	
</body>