<head>
<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
</head>

<h1>Account Info</h1>
<body>

		

<p>Your name is <%= @sessUserName %> <br>
		<a href="/ConnectTo.html.erb" class="btn btn-primary btn-larg">Add more accounts zawed tawsilatak :D</a>
	
		</p>


<div id="jRate"></div>

		



<!-------------------- JS -------------------->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">
 

$(document).ready(function () {
    $('.slideout-menu-toggle').on('click', function(event){
    	event.preventDefault();
    	// create menu variables
    	var slideoutMenu = $('.slideout-menu');
    	var slideoutMenuWidth = $('.slideout-menu').width();
    	
    	// toggle open class
    	slideoutMenu.toggleClass("open");
    	
    	// slide menu
    	if (slideoutMenu.hasClass("open")) {
	    	slideoutMenu.animate({
		    	left: "0px"
	    	});	
    	} else {
	    	slideoutMenu.animate({
		    	left: -slideoutMenuWidth
	    	}, 250);	
    	}
    });
});

</script>


<script src = "rating/jRate.js"></script>
<script type="text/javascript">

	$(function () {
		var that = this;
     
			$("#jRate").jRate({
				startColor: "cyan",
         endColor: "blue",
			rating: 1,
			strokeColor: 'black',
			width: 22,
			height: 22,
			count: 5,
			 opacity: 0.8,
			onChange: function(rating) {
				
				console.log("OnChange: Rating: "+rating);
			},
			onSet: function(rating) {
				console.log("OnSet: Rating: "+rating);
			}
		}); 
		
	});
</script>

	
</body>