<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= form_tag :controller => 'profiles', :action => 'search', :method => 'index' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil %> 
      <%= link_to_function "Clear", "$('search_field').clear()" %>
 <% end %> 


  <link rel="stylesheet" type="text/css" href="assets/button.css">
</head>
<h1 style="color:black;text-align:center;"> Connect to Twitter or Linkedin or Google+ </h1>
<body>


<div class="row" style="width:600px;margin-left: auto;margin-right: auto;">
  <div class="col-lg-4">
    <div class="round-button" style="width:160px;float:left">
        <div id="round-button-circle">
        <a href="/twitter_oauth_url" class="round-button">Twitter</a></div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="round-button" style="width:160px;float:left;">
        <div id="round-button-circle-2">
        <a href="http://localhost:4567" class="round-button">Google+</a></div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="round-button" style="width:160px;float:left;">
        <div id="round-button-circle-1">
        <a href="/linkedin_oauth_url" class="round-button">LinkedIn</a></div>
    </div>
  </div>
</div>



</body>
</html>

