
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div style= "position:absolute;right:500px;width:100%;">

    <div class="google-map-filter col-xs-12 col-sm-4  pull-right"  style="width: 60%" >
    <div class="form-group">

<div class="input-group">
  <span class="input-group-addon" id="car_color_span">@</span>
  <input type="text" class="form-control" placeholder="trip_name" name="trip_name" id="trip_name" style="height:50px">
</div>    
<br>

<div class="input-group">
  <span class="input-group-addon" id="car_color_span">@</span>
  <input type="text" class="form-control" placeholder="car_color" name="car_color" id="car_color" style="height:50px">
</div>    
<br>

<div class="input-group">
  <span class="input-group-addon" id="car_model_span">@</span>
  <input type="text" class="form-control" placeholder="car_model" name="car_model" id="car_moodel" style="height:50px">
</div>    
<br>

<div class="input-group">
  <span class="input-group-addon" id="car_number_span">@</span>
  <input type="text" class="form-control" placeholder="car_number" id="car_number" name="car_number" style="height:50px">
</div>    
<br>

<div class="input-group">
  <span class="input-group-addon" id="seats_span">@</span>
  <input type="text" class="form-control" placeholder="seats" id="seats" name="seats" style="height:50px">
</div>    
<br>

<input name="smoking" type="radio" value="smoking"/>    
<div class="label"> 
<%= label :smoking_label, 'one can smoke in my car', :value => 'one can smoke in my car' %>
</div>
<br>
<input name="air_conditioner" type="radio" value="air_conditioner"/>    
<div class="label"> 
<%= label :air_conditioner, 'i have air air_conditioner in my car', :value => 'i have air air_conditioner in my car' %>
</div>
<br>
<input name="trunk" type="radio" value="trunk"/>    
<div class="label"> 
<%= label :trunk, 'i have a trunk in a truk', :value => 'i have a trunk in my car' %>
</div>
<br>
<br>
<script>
function create_ride_info() {
	var txt_color = document.getElementsByName('car_color')[0].value;
	var txt_model = document.getElementsByName('car_model')[0].value;
	var txt_number = document.getElementsByName('car_number')[0].value;
	var txt_seats = document.getElementsByName('seats')[0].value;
	var txt_name = document.getElementsByName('trip_name')[0].value;
	var txt_smoking;
	var txt_air_conditioner;
	var txt_trunk;
	if (document.getElementsByName('smoking')[0].checked) 
  		txt_smoking = 1;
	else 
		txt_smoking = 0;
	if (document.getElementsByName('air_conditioner')[0].checked) 
  		txt_air_conditioner = 1;
	else 
		txt_air_conditioner = 0;
	if (document.getElementsByName('trunk')[0].checked) 
  		txt_trunk = 1;
	else 
		txt_trunk = 0;
	//redirected to create_ride_info in request controller 
	window.location.replace('/requests/create_ride_info?car_color='+txt_color+'&car_model='+txt_model+'&car_number='+txt_number+'&seats='+txt_seats+'&smoking='+txt_smoking+'&air_conditioner='+txt_air_conditioner+'&trunk='+txt_trunk
		+'&name='+txt_name);

}
</script>
<br>
<a class="submit_button" href='#' onClick="create_ride_info();">
 Submit
 </a>
    </div> 
    </div>
    </div>
</div>    