<%= link_to("Delete" , { :action => 'delete' , :id => request.id} , :class => 'action delete') %>

<div class=  " Delete Request">
<h2> Delete Request </h2>
<%= form_for (:request , :url => { :action => 'destroy' , :id => @request.id}) do |t| %>

	<p> Are you sure you want to delete this Request </p>
	
	<p class = "Reference-name" ><%= @request.id %></p>

	<div class= "form-buttons" >

	<%= submit_tag("Delete Request") %>

	</div>
	<% end %>
	</div>
	