<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body><!--Body of the email that will ber sent @ebrahim-elgaml -->
    <h1>Hi <%= @myUser.username %></h1>

    <h3>
      You have requested to add this email <h2><%= @grant %></h2> to your email 
    </h3>
    <h4>Notice : By adding that you will have a circle with all users subscribed to the same group </h4>
    <%= link_to "Accept", "http://localhost:3000/emails/verify?email=#{@grant}",:class => "btn btn-terciary btn-block" %> <!-- Confirm adding the email link @ebrhaim-elgaml -->
    <br>
    <%= link_to "Reject", "http://localhost:3000/",:class => "btn btn-terciary btn-block" %> <!-- reject adding the email link @ebrhaim-elgaml -->


  </body>
</html>