<h1>Circles#show</h1>
<p>Find me in app/views/circles/show.html.erb</p>
<h3>your are in circle : </h3> Circle name :<%= @circle.name %><br>
<h4> Friends in the circle :- </h4><br>
		<% @circle.friends.each do |c| %>
  
        <!--/# name of a friend in specific circle  --> 
			<% if(@circle.name=='facebook') %>
					<% app_user = User.find(:all, :conditions => ['uid LIKE ?' , c.fb_id]) %> 
					<% app_user.each do |a| %>
					    <h6 style="font-style:normal;font-size:15px"> <li><%= link_to a.name, :controller =>'profiles',:action => 'friend_profile', id: a.id  %></li>
						</h6>
        			<br> 
					<%end%>  
					<br>
					<% next %>
			<% end %><!--/#  end of the if checking the circle name  -->
			
			<% if(@circle.name=='twitter') %>
					<% app_user = User.find(:all, :conditions => ['screen_name LIKE ?' , c.screen_name]) %> 
					<% app_user.each do |a| %>
					    <h6 style="font-style:normal;font-size:15px"> <li><%= link_to a.name, :controller =>'profiles',:action => 'friend_profile', id: a.id  %></li>
						</h6>
        			<br> 
					<%end%>  
					<br>
					<% next %>
			<% end %><!--/#  end of the if checking the circle name  -->
			<% if(@circle.name=='gmail') %>
				<% app_user = User.find(:all, :conditions => ['gmail LIKE ?' , c.gmail]) %> 
					<% app_user.each do |a| %>
					    <h6 style="font-style:normal;font-size:15px"> <li><%= link_to a.name, :controller =>'profiles',:action => 'friend_profile', id: a.id  %></li>
						</h6>
        			<br> 
					<%end%>  
					<br>
					<% next %>	<% end %><!--/#  end of the if checking the circle name  -->
			
		<% end %><!--end of the loop -->

