<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="assets/button.css">
	<link rel="stylesheet" href="assets/styles.css">

	<style type="text/css">
	 /*added Code */



	/*end of Added code */
	  .mini-submenu{
	    display:none;  
	    background-color: rgba(0, 0, 0, 0);  
	    border: 1px solid rgba(0, 0, 0, 0.9);
	    border-radius: 4px;
	    padding: 9px;  
	    /*position: relative;*/
	    width: 42px;
	  }

	  .mini-submenu:hover{
	    cursor: pointer;
	  }

	  .mini-submenu .icon-bar {
	    border-radius: 1px;
	    display: block;
	    height: 2px;
	    width: 22px;
	    margin-top: 3px;
	  }

	  .mini-submenu .icon-bar {
	    background-color: #000;
	  }

	  #slide-submenu{
	    background: rgba(0, 0, 0, 0.45);
	    display: none;
	    display: inline-block;
	    padding: 0 8px;
	    border-radius: 4px;
	    cursor: pointer;
	  } 
	  .panel.panel-default{
		border-radius:60px;
		}
	  #navlist{
		display: none;
	   }
	  #navlist:hover{
	     display: block;
	   }
	         .cont {
	      display: block; width: 500px; max-height: 1000px; border:1px solid gray; border-radius: 20px; box-shadow: 0 1px 2px #888; }
	      .cont .header{
	      background-color: #337AB7; box-shadow: 0 1px 2px #888; padding-top: 10px; border-top-right-radius:20px; border-top-left-radius:20px; border-bottom: 1px solid gray; }
	      .cont .header h1{ padding-left: 10px; margin: 5px; font-size: 30px; font-weight: normal; text-shadow: 0 1px 2px white; color: white; text-align:left; }
	      .cont .body{ margin: 15px; padding-top: 0px; }
	      .cont .body label{ font-size: 18px; font-family: times; font-style: normal; }
	      .cont .body h1{ padding-left: 10px; margin: 5px; font-size: 16px; font-weight: normal; color: black; text-align:left; }
	      }

	</style>

	<body>
	 <div class="cont" style="width:90%">
	        <div class="header">
	          <h1 style="font-size:20px">Circle name : <%= @circle.name %></h1>
	        </div>
	          <div class="row">
	            <div class="col-md-3" style="padding-left:40px; width:50%">
	              <div id='TextBoxesGroup'>
	                <div id="TextBoxDiv1">
	                  <% @circle.friends.each do |c| %>
	                  	<% @user = User.find(c.app_id) %>
	                  	<label style="font-size:20px">
	                  		<div class="col-md-3" style="padding-left:40px">
						     <!-- <div class="image-frame">
						        <div class="img-circular" style="background-image: url('<%= @user.faceboook_profileimage+'&width=80&height=80'%>') ">
						        </div><!-- close div if profile image--!>
						     </div><!-- close tdi of image frame --!> --!>
					        </div><!-- close div of col-dm-3 -->
	                  	</label>

	                  <% end%>
	                  <label style="font-size:20px"></label>
	                  	<% @name = @user.firstName+" "+@user.lastName %><%= link_to @name, :controller =>'profiles',:action => 'friend_profile', id: @user.id  %>
	                </div>
	              </div>
	            </div><!-- close div of col-dm-3 -->
	          </div><!-- div row -->
	      </div> <!-- closing of cont -->


	</body>
</html>


